<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <%- include('./partials/header') %>

<body>
  <div id="rotate-overlay">
    <div class="rotate-device">
      <img src="/images/rotate_phone.png" alt="Rotate Device">
    </div>
  </div>

  <div class="community-timeline">
    <h3 class="community-home">Community's Posts</h3>
    <ol class="community-list">
      <% posts.forEach(p => { %>
        <li class="community-item" id="<%= p._id %>">
          <a class="community-item-link" href="/posts/<%= p._id %>">
            <h2 class="community-item-title"><%= p.title %></h2>
            <div class="community-item-description"><%= p.description %></div>
          </a>
        </li>
      <% }) %>
    </ol>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const checkWidth = () => {
        const overlay = document.getElementById('rotate-overlay');
        if (window.innerWidth < 600) {
          overlay.classList.add('show');
        } else {
          overlay.classList.remove('show');
        }
      };

      window.addEventListener('resize', checkWidth);
    });

    document.addEventListener("DOMContentLoaded", function() {
      const items = document.querySelectorAll('.community-item');

      items.forEach(item => {
        const itemId = item.id;
        const link = item.querySelector('.community-item-link');

        const visited = localStorage.getItem(itemId);

        if (visited === 'true') {
          item.classList.add('visited');
        }

        link.addEventListener('click', function(e) {
          localStorage.setItem(itemId, 'true');
          item.classList.add('visited');
        });
      });
    });
  </script>
</body>
</html>
