<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header') %>
  <!-- Edit Card Section -->
  <section id="cardEditUniqueSection">
    <h3 id="cardEditUniqueTitle">Edit Page</h3>
    <form id="cardFormEditUnique" action="/cards/<%= card._id %>?_method=PUT" method="POST">
      <input class="cardTitleEditField" type="text" name="title" placeholder="title" value="<%= card.title %>"><br>
      <input class="cardLinkEditField" type="text" name="link" placeholder="link" value="<%= card.link %>"><br>
      <input class="cardScriptureEditField" type="text" name="scripture" placeholder="scripture" value="<%= card.scripture %>"><br>
      <textarea class="cardDescriptionEditArea" name="description" cols="30" rows="10" placeholder="description"><%= card.description %></textarea><br>
      <div class="cardEditActionButtons">
        <a href="/cards/<%= card._id %>" class="cardEditCancelButton">Cancel</a>
        <input class="cardEditSubmitButton" type="submit" value="Submit Changes">
      </div>
    </form>
  </section>
</body>
</html>
