<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <h2>Edit Page</h2>

  <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <h1>Title</h1>
    <input placeholder="Noah and The Great Flood" type="text" name="title" value="<%= post.title %>"><br>
    <h1>Link</h1>
    <input placeholder="https://www.youtube.com/watch?v=KOUV7mWDI34" type="text" name="link" value="<%= post.link %>"><br>
    <h1>Scripture</h1>
    <input placeholder="Genesis 5:1" type="text" name="scripture" value="<%= post.scripture %>"><br>
    <h1>Description</h1>
    <textarea
      placeholder="Here we can learn about how God has had mercy on humanity by giving it a second opportunity..."
      name="description" cols="30" rows="10"><%= post.description %></textarea><br>
      <input type="submit" value="Submit Changes">
  </form>



</body>
</html>