<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<script type="text/javascript">
  function deletePost(postId) {
    fetch(`/posts/${postId}`, {
      method: 'DELETE'
    })
      .then(() => {
        console.log('Successfully deleted post');
        window.location.href = '/dashboard';
      })
      .catch((err) => console.log(err));
  }
</script>


<body>
  <%- include('../partials/header') %>
  <h2>Details for <%= post.title %></h2>
  <a target="_blank" href="<% post.link %>">See Sources</a><br>
  <p><%= post.scripture %></p>
  <p><%= post.description %></p>
  <p>Created By <%= post.createdBy.firstName %></p>
  <br>
  <% if(user && user._id.equals(post.createdBy._id)) { %>
  <a href="/<%= post._id %>/edit">Edit</a>
  <button type="button" onclick="deletePost('<%= post._id %>');">DELETE</button>
  <% } %>
</body>

</html>